h1 {
    margin-top: 5vw;
    margin-bottom: 2vw;
}

img {
    margin-top: 11vw;
    margin-bottom:11vw;
}

.zoom {
    /**adjust scale to desired size,
    add browser prefixes**/
    -ms-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
    position:relative;
    z-index:100;
}
