h1 {
    margin-top: 5vw;
    margin-bottom: 2vw;
}

img {
    margin-top: 11vw;
    margin-bottom:11vw;
}

.zoom {
    /**adjust scale to desired size,
    add browser prefixes**/
    -ms-transform: scale(1.9);
    -moz-transform: scale(1.9);
    -webkit-transform: scale(1.9);
    -o-transform: scale(1.9);
    transform: scale(1.9);
    position:relative;
    z-index:100;
}

.office-info {
    position: fixed;
    top: 10px;
    left: 10px;
}
